.container{
    width: 400px;
    background-color: rgb(244, 209, 214);
    padding: 10px;
}

input{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

ul, li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.list{
    margin: 15px 0;
}

.list > li {
    background-color: antiquewhite;
    padding: 5px;
    margin-bottom: 2px;
    display: flex;
    justify-content: space-between;
}

.btn{
    display: flex;
    justify-content: end;
    padding: 5px 0;
}

.btn > button {
    width: 60px;
    padding: 5px;
    background-color:#7d909e;
}